	<div class="am-g">
		<div class="am-topbar am-topbar-fixed-top am-topbar-inverse">
			<div class="am-u-sm-12 am-u-md-10 am-u-lg-8 am-u-sm-centered">
				<div class="am-u-sm-3">
					<h1 class="am-topbar-brand">ClickMe</h1>
				</div>
				<div class="am-u-sm-9">
					<a href="javascript:;" title="菜单" class="am-btn am-btn-primary am-btn-lg am-fr" data-am-offcanvas="{target: '#aside'}"><span class="am-icon-sm am-icon-bars"></span></a>
					<a href="#" title="添加好友" class="am-btn am-btn-primary am-btn-lg am-fr"><span class="am-icon-sm am-icon-plus"></span></a>
				</div>
			</div>
	  	</div>
	</div>
	<div id="aside" class="am-offcanvas">
  		<div class="am-offcanvas-bar">
    		<div class="am-offcanvas-content">
    			<div class="am-u-lg-8 am-u-sm-6 am-u-sm-centered">
      				<div><img class="am-circle" src="<%= user.avatar %>" /></div>
      				<br>
      			</div>
      			<div class="am-u-sm-12 am-u-sm-centered am-text-center">
      				<h2><%= user.nickname %></h2>
      				<p class="am-text-xs">
      					<%= user.intro %>
      				</p>
      			</div>
      			<hr>
    		</div>
    		<div class="am-u-sm-12 am-u-sm-centered">
      			<ul class="am-nav">
      				<li><a class="am-text-lg am-text-primary am-icon-home" href="/">&nbsp;&nbsp;主页</a></li>
  					<li><a class="am-text-lg am-text-success am-icon-user" href="/friends">&nbsp;&nbsp;联系人</a></li>
  					<li><a class="am-text-lg am-text-warning am-icon-gear" href="/setting">&nbsp;&nbsp;设置</a></li>
  					<li><a class="am-text-lg am-text-danger am-icon-power-off" href="/logout">&nbsp;&nbsp;登出</a></li>
      			</ul>
      		</div>
      		<br>
  		</div>
	</div>