<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登陆</title>
	<link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">
  	<meta http-equiv="Cache-Control" content="no-siteapp"/>
  	<meta name="mobile-web-app-capable" content="yes">
  	<!--[if lt IE 9]>
	<script type="text/javascript">alert("sorry，low version of the browser does not support");</script>
  	<![endif]-->
</head>
<body>
	<div class="am-g login">
		<div class="am-u-sm-12 am-u-md-8 am-u-lg-4 am-u-sm-centered">
			<br>
			<div class="am-g">
				<div class="am-u-sm-6 am-u-md-5 am-u-lg-4 am-u-sm-centered">
					<img src="/img/logo.png">
				</div>
			</div>
			<br><br>
			<form action="/login" method="post" class="am-form" data-am-validator>
				<div class="am-form-group">
					<div class="am-input-group">
  						<span class="am-input-group-label"><i class="am-icon-user"></i></span>
						<input type="text" name="account" placeholder="账号" required class="am-form-field am-input-lg">
					</div>
				</div>
				<div class="am-form-group">
					<div class="am-input-group">
  						<span class="am-input-group-label"><i class="am-icon-lock"></i></span>
						<input type="password" name="pwd" placeholder="密码" required class="am-form-field am-input-lg">
					</div>
				</div>
				<br>
				<div class="am-form-group">
					<button class="am-btn am-btn-primary am-btn-lg am-btn-block am-round">登陆</button>
				</div>
				<div class="am-form-group">
					还没有账号？&nbsp;<a href="/login/reg">立即注册</a>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
</body>
</html>