<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设置</title>
	<link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">
  	<meta http-equiv="Cache-Control" content="no-siteapp"/>
  	<meta name="mobile-web-app-capable" content="yes">
  	<!--[if lt IE 9]>
	<script type="text/javascript">alert("sorry，low version of the browser does not support");</script>
  	<![endif]-->
</head>
<body>
	
	<%- include common.html %>

	<div class="am-u-sm-12 am-u-md-8 am-u-lg-4 am-u-sm-centered">
		<br>
		<ul class="am-nav am-nav-tabs am-nav-justify">
			<li><a href="/setting/">个人信息</a></li>
		  	<li class="am-active"><a href="/setting/pwd">修改密码</a></li>
		  	<li><a href="/setting/avatar">修改头像</a></li>
		</ul>
		<br><br>
		<form action="/setting/pwd" method="post" class="am-form" data-am-validator>
			<div class="am-form-group">
				<input type="password" name="oldpwd" placeholder="原密码" required pattern="^[A-Za-z0-9]+$" maxlength="20" minlength="5" class="am-form-field am-input-lg">
			</div>
			<div class="am-form-group">
				<input type="password" id="newpwd" name="newpwd" placeholder="新密码" required pattern="^[A-Za-z0-9]+$" maxlength="20" minlength="5" class="am-form-field am-input-lg">
			</div>
			<div class="am-form-group">
				<input type="password" name="chkpwd" placeholder="确认密码" required data-equal-to="#newpwd" class="am-form-field am-input-lg">
			</div>
			<div class="am-form-group">
				<button class="am-btn am-btn-primary am-btn-lg am-btn-block am-round">确定</button>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
</body>
</html>
