<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设置</title>
	<link rel="stylesheet" type="text/css" href="http://cdn.amazeui.org/amazeui/2.2.1/css/amazeui.min.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="renderer" content="webkit">
  	<meta http-equiv="Cache-Control" content="no-siteapp"/>
  	<meta name="mobile-web-app-capable" content="yes">
  	<!--[if lt IE 9]>
	<script type="text/javascript">alert("sorry，low version of the browser does not support");</script>
  	<![endif]-->
</head>
<body>
	
	<%- include common.html %>

	<div class="am-u-sm-12 am-u-md-8 am-u-lg-4 am-u-sm-centered">
		<br>
		<ul class="am-nav am-nav-tabs am-nav-justify">
			<li class="am-active"><a href="/setting/">个人信息</a></li>
		  	<li><a href="/setting/pwd">修改密码</a></li>
		  	<li><a href="/setting/avatar">修改头像</a></li>
		</ul>
		<br><br>
		<form action="/setting/" method="post" class="am-form" data-am-validator>
			<div class="am-form-group">
				<input type="text" value="<%= info.nickname %>" name="nickname" placeholder="昵称" required class="am-form-field am-input-lg" maxlength="10">
			</div>
			<div class="am-form-group">
				<label>性别</label>&nbsp;&nbsp;&nbsp;
				<% if(info.sex == 1) { %>
				<label class="am-radio-inline">
	        		<input type="radio" name="sex" checked value="1">男
	      		</label>
	      		<label class="am-checkbox-inline">
	        		<input type="radio" name="sex" value="0">女
	      		</label>
	      		<% } else {%>
	      		<label class="am-radio-inline">
	        		<input type="radio" name="sex" value="1">男
	      		</label>
	      		<label class="am-checkbox-inline">
	        		<input type="radio" name="sex" checked value="0">女
	      		</label>
				<% } %>
			</div>
			<div class="am-form-group">
      			<label for="intro">个性签名</label>
      			<textarea style="resize: none;" maxlength="200" rows="5" id="intro" name="intro" placeholder="最多填写50个字"><%= info.intro %></textarea>
      		</div>
			<br>
			<div class="am-form-group">
				<button class="am-btn am-btn-primary am-btn-lg am-btn-block am-round">确定</button>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="http://cdn.staticfile.org/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.2.1/js/amazeui.min.js"></script>
</body>
</html>
